/* --------------- */
/*    VARIABLES    */
/* --------------- */
:root {
    --color-theme-me: 0, 217, 255;
    --color-theme-skills: 255, 0, 212;
    --color-theme-cursus: 19, 228, 0;
    --color-theme-portfolio: 255, 0, 0;
    --color-theme-contact: 128, 128, 128;
}

/* --------------- */
/* STYLES GENERAUX */
/* --------------- */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(226, 226, 226);    
    height: inherit;
}

body::after {
    content: "";
    background-image: url(../images/html.jpg);
    background-size: cover;
    background-position: center;    
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;       
}

/* --------------- */
/* wrapper général */
/* --------------- */
.wrapper {
    height: inherit; 
    overflow: hidden;
}

/* ------------ */
/* entête du CV */
/* ------------ */
.entete {
    box-shadow: 0px 0px 40px rgb(161, 160, 160);
}

.navbar {
    padding: 0.75rem 1rem;
}

.navbar-brand {
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.current-nav {
    text-shadow: rgb(150, 150, 150) 0 0 10px;
}

.current-nav:nth-child(1) {
    color: rgb(var(--color-theme-me));
}

.navbar-brand:nth-child(1):hover {
    box-shadow: 0px 0px 20px rgba(var(--color-theme-me), 0.3);
}

.current-nav:nth-child(2) {
    color: rgb(var(--color-theme-skills));
}

.navbar-brand:nth-child(2):hover {
    box-shadow: 0px 0px 20px rgba(var(--color-theme-skills), 0.3);
}

.current-nav:nth-child(3) {
    color: rgb(var(--color-theme-cursus));
}

.navbar-brand:nth-child(3):hover {
    box-shadow: 0px 0px 20px rgba(var(--color-theme-cursus), 0.3);
}

.current-nav:nth-child(4) {
    color: rgb(var(--color-theme-portfolio));
}

.navbar-brand:nth-child(4):hover {
    box-shadow: 0px 0px 20px rgba(var(--color-theme-portfolio), 0.3);
}

.current-nav:nth-child(5) {
    color: rgb(var(--color-theme-contact));
}

.navbar-brand:nth-child(5):hover {
    box-shadow: 0px 0px 20px rgba(var(--color-theme-contact), 0.5);
}

/* ----------- */
/* corps du CV */
/* ----------- */
.conteneur-slides {
    height: inherit;
    display: flex;  
    position: relative; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    width: 75%;
    height: 70%;    
    transition: all 2s;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgb(161, 160, 160);
}

.current-slide {
    transform: scale(1);
    opacity: 1;
}

.zoomed {
    transform: scale(2);
    opacity: 0;
}

.unzoomed {
    transform: scale(0);
    opacity: 1;
}

.inactive {
    display: none;
}

#me {
    z-index: 3;    
}

#skills {
    z-index: 2;
}

#studies {
    z-index: 1;
}

#portfolio {
    z-index: 0;
}

.slide__entete {
    text-align: center;    
    margin: 0;
    padding: 1em 2em;
}

.slide__entete--titre {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.separateur {
    margin: 0 20px;
}

.slide__corps {
    margin: 1rem;
}

/* image du CV */
.slide__img {
    height: 17%;
    width: 17%;
    border-radius: 50%;
    float: left;
    margin-right: 0.5rem;
}

.slide__texte {
    text-align: justify;
}

.letter-blue {
    color: rgb(var(--color-theme-me));
}

.letter-pink {
    color: rgb(var(--color-theme-skills));
}

.letter-green {
    color: rgb(var(--color-theme-cursus));
}

.letter-red {
    color: rgb(var(--color-theme-portfolio));
}

.letter-gray {
    color: rgb(var(--color-theme-contact));
}

/* ---------- */
/* pied du CV */
/* ---------- */